@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#about {
  background: radial-gradient(
    circle at top center,
    #66ccff 0%,  
    #003f73 15%,  /* Medium dark blue */
    #000f1b 40%   /* Very dark blue */
  );
}
@media (min-width: 768px) {
#about {
  background: radial-gradient(
    circle at top center,
    #66ccff 0%,   /* Light blue */
    #003f73 20%,  /* Medium dark blue */
    #000f1b 40%   /* Very dark blue */
  );
}
}

